In [52]:
import random
import numpy as np
import scanpy as sc
import anndata as an
import scipy.stats as st
from scipy.spatial import KDTree
import math
import pandas as pd

In [53]:
counts_path = "/Users/juliafoyer/Documents/Skolarbete/Masters_thesis/her2st_G2/G2.tsv"
obs = pd.read_csv(counts_path, delimiter='\t',)
metrics_path = "/Users/juliafoyer/Documents/Skolarbete/Masters_thesis/her2st_G2/G2_selection.tsv"
metrics = pd.read_csv(metrics_path, delimiter='\t')

In [54]:
obs["Unnamed: 0"]

0      10x10
1      10x11
2      10x12
3      10x13
4      10x14
       ...
462     9x24
463     9x25
464      9x7
465      9x8
466      9x9
Name: Unnamed: 0, Length: 467, dtype: object

In [55]:
metrics

      x   y   new_x   new_y  pixel_x  pixel_y  selected
0    18   5  17.912   5.017  4928.79  1165.28         1
1    19   5  18.924   5.022  5223.73  1166.73         1
2    20   5  19.938   5.035  5519.24  1170.51         1
3    20   6  19.958   5.998  5525.07  1449.86         1
4    16   6  15.902   5.996  4343.00  1449.28         1
..   ..  ..     ...     ...      ...      ...       ...
462  22  26  21.866  26.003  6081.13  7253.08         1
463  19  26  18.940  26.018  5228.39  7257.43         1
464  20  26  19.928  26.038  5516.33  7263.23         1
465  23  26  23.031  26.039  6420.66  7263.52         1
466  18  26  17.916  26.036  4929.96  7262.65         1

[467 rows x 7 columns]

In [56]:
obs.index

RangeIndex(start=0, stop=467, step=1)

In [57]:
obs

,Unnamed: 0,FO538757.1,SAMD11,NOC2L,KLHL17,PLEKHN1,PERM1,HES4,ISG15,AGRN,...,RAB39B,CLIC2,TMLHE,SPRY3,VAMP7,USP9Y,DDX3Y,UTY,TMSB4Y,EIF1AY
0,10x10,0,0,0,0,0,0,1,4,0,...,0,0,0,0,0,0,0,0,0,0
1,10x11,0,0,0,0,0,0,1,2,1,...,0,0,0,0,0,0,0,0,0,0
2,10x12,0,0,0,0,0,0,2,1,0,...,0,0,0,0,0,0,0,0,0,0
3,10x13,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,10x14,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,9x24,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
463,9x25,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
464,9x7,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
465,9x8,0,0,0,0,0,0,1,1,0,...,0,0,0,1,0,0,0,0,0,0
466,9x9,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
help(metrics.reindex)

Help on method reindex in module pandas.core.frame:

reindex(labels=None, index=None, columns=None, axis=None, method=None, copy=True, level=None, fill_value=nan, limit=None, tolerance=None) method of pandas.core.frame.DataFrame instance
    Conform DataFrame to new index with optional filling logic.

    Places NA/NaN in locations having no value in the previous index. A new object
    is produced unless the new index is equivalent to the current one and
    ``copy=False``.

    Parameters
    ----------
    labels : array-like, optional
                New labels / index to conform the axis specified by 'axis' to.
    index, columns : array-like, optional
        New labels / index to conform to, should be specified using
        keywords. Preferably an Index object to avoid duplicating data.
    axis : int or str, optional
                Axis to target. Can be either the axis name ('index', 'columns')
                or number (0, 1).
    method : {None, 'backfill'/'bfill', 'pad'/'ffill', 'nearest'}
        Method to use for filling holes in reindexed DataFrame.
        Please note: this is only applicable to DataFrames/Series with a
        monotonically increasing/decreasing index.

        * None (default): don't fill gaps
        * pad / ffill: Propagate last valid observation forward to next
          valid.
        * backfill / bfill: Use next valid observation to fill gap.
        * nearest: Use nearest valid observations to fill gap.

    copy : bool, default True
        Return a new object, even if the passed indexes are the same.
    level : int or name
        Broadcast across a level, matching Index values on the
        passed MultiIndex level.
    fill_value : scalar, default np.NaN
        Value to use for missing values. Defaults to NaN, but can be any
        "compatible" value.
    limit : int, default None
        Maximum number of consecutive elements to forward or backward fill.
    tolerance : optional
        Maximum distance between original and new labels for inexact
        matches. The values of the index at the matching locations most
        satisfy the equation ``abs(index[indexer] - target) <= tolerance``.

        Tolerance may be a scalar value, which applies the same tolerance
        to all values, or list-like, which applies variable tolerance per
        element. List-like includes list, tuple, array, Series, and must be
        the same size as the index and its dtype must exactly match the
        index's type.

        .. versionadded:: 0.21.0 (list-like tolerance)

    Returns
    -------
    DataFrame with changed index.

    See Also
    --------
    DataFrame.set_index : Set row labels.
    DataFrame.reset_index : Remove row labels or move them to new columns.
    DataFrame.reindex_like : Change to same indices as other DataFrame.

    Examples
    --------

    ``DataFrame.reindex`` supports two calling conventions

    * ``(index=index_labels, columns=column_labels, ...)``
    * ``(labels, axis={'index', 'columns'}, ...)``

    We *highly* recommend using keyword arguments to clarify your
    intent.

    Create a dataframe with some fictional data.

    >>> index = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']
    >>> df = pd.DataFrame({'http_status': [200, 200, 404, 404, 301],
    ...                   'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
    ...                   index=index)
    >>> df
               http_status  response_time
    Firefox            200           0.04
    Chrome             200           0.02
    Safari             404           0.07
    IE10               404           0.08
    Konqueror          301           1.00

    Create a new index and reindex the dataframe. By default
    values in the new index that do not have corresponding
    records in the dataframe are assigned ``NaN``.

    >>> new_index = ['Safari', 'Iceweasel', 'Comodo Dragon', 'IE10',
    ...              'Chrome']
    >>> df.reindex(new_index)
                   http_status  response_time
    Safari               404.0           0.07
    Iceweasel              NaN            NaN
    Comodo Dragon          NaN            NaN
    IE10                 404.0           0.08
    Chrome               200.0           0.02

    We can fill in the missing values by passing a value to
    the keyword ``fill_value``. Because the index is not monotonically
    increasing or decreasing, we cannot use arguments to the keyword
    ``method`` to fill the ``NaN`` values.

    >>> df.reindex(new_index, fill_value=0)
                   http_status  response_time
    Safari                 404           0.07
    Iceweasel                0           0.00
    Comodo Dragon            0           0.00
    IE10                   404           0.08
    Chrome                 200           0.02

    >>> df.reindex(new_index, fill_value='missing')
                  http_status response_time
    Safari                404          0.07
    Iceweasel         missing       missing
    Comodo Dragon     missing       missing
    IE10                  404          0.08
    Chrome                200          0.02

    We can also reindex the columns.

    >>> df.reindex(columns=['http_status', 'user_agent'])
               http_status  user_agent
    Firefox            200         NaN
    Chrome             200         NaN
    Safari             404         NaN
    IE10               404         NaN
    Konqueror          301         NaN

    Or we can use "axis-style" keyword arguments

    >>> df.reindex(['http_status', 'user_agent'], axis="columns")
               http_status  user_agent
    Firefox            200         NaN
    Chrome             200         NaN
    Safari             404         NaN
    IE10               404         NaN
    Konqueror          301         NaN

    To further illustrate the filling functionality in
    ``reindex``, we will create a dataframe with a
    monotonically increasing index (for example, a sequence
    of dates).

    >>> date_index = pd.date_range('1/1/2010', periods=6, freq='D')
    >>> df2 = pd.DataFrame({"prices": [100, 101, np.nan, 100, 89, 88]},
    ...                    index=date_index)
    >>> df2
                prices
    2010-01-01   100.0
    2010-01-02   101.0
    2010-01-03     NaN
    2010-01-04   100.0
    2010-01-05    89.0
    2010-01-06    88.0

    Suppose we decide to expand the dataframe to cover a wider
    date range.

    >>> date_index2 = pd.date_range('12/29/2009', periods=10, freq='D')
    >>> df2.reindex(date_index2)
                prices
    2009-12-29     NaN
    2009-12-30     NaN
    2009-12-31     NaN
    2010-01-01   100.0
    2010-01-02   101.0
    2010-01-03     NaN
    2010-01-04   100.0
    2010-01-05    89.0
    2010-01-06    88.0
    2010-01-07     NaN

    The index entries that did not have a value in the original data frame
    (for example, '2009-12-29') are by default filled with ``NaN``.
    If desired, we can fill in the missing values using one of several
    options.

    For example, to back-propagate the last valid value to fill the ``NaN``
    values, pass ``bfill`` as an argument to the ``method`` keyword.

    >>> df2.reindex(date_index2, method='bfill')
                prices
    2009-12-29   100.0
    2009-12-30   100.0
    2009-12-31   100.0
    2010-01-01   100.0
    2010-01-02   101.0
    2010-01-03     NaN
    2010-01-04   100.0
    2010-01-05    89.0
    2010-01-06    88.0
    2010-01-07     NaN

    Please note that the ``NaN`` value present in the original dataframe
    (at index value 2010-01-03) will not be filled by any of the
    value propagation schemes. This is because filling while reindexing
    does not look at dataframe values, but only compares the original and
    desired indexes. If you do want to fill in the ``NaN`` values present
    in the original dataframe, use the ``fillna()`` method.

    See the :ref:`user guide <basics.reindexing>` for more.

In [59]:
xy = obs['Unnamed: 0'].tolist()
metrics["xy"] = metrics["x"].astype(str) + "x" + metrics["y"].astype(str)
metrics = metrics.set_index('xy')
metrics = metrics.reindex(index=obs['Unnamed: 0'])
metrics = metrics.reset_index()

In [60]:
metrics

    Unnamed: 0   x   y  new_x   new_y  pixel_x  pixel_y  selected
0        10x10  10  10  9.883   9.928  2588.84  2589.91         1
1        10x11  10  11  9.899  10.948  2593.50  2885.80         1
2        10x12  10  12  9.880  11.946  2587.97  3175.31         1
3        10x13  10  13  9.902  12.917  2594.38  3456.98         1
4        10x14  10  14  9.892  13.925  2591.46  3749.39         1
..         ...  ..  ..    ...     ...      ...      ...       ...
462       9x24   9  24  8.963  24.000  2320.72  6672.03         1
463       9x25   9  25  8.983  25.020  2326.55  6967.92         1
464        9x7   9   7  8.965   7.011  2321.30  1743.72         1
465        9x8   9   8  8.967   8.008  2321.88  2032.94         1
466        9x9   9   9  8.970   8.980  2322.76  2314.90         1

[467 rows x 8 columns]

In [61]:
pix_xy = metrics.loc[:, ['pixel_x', 'pixel_y']]

In [62]:
pix_xy

     pixel_x  pixel_y
0    2588.84  2589.91
1    2593.50  2885.80
2    2587.97  3175.31
3    2594.38  3456.98
4    2591.46  3749.39
..       ...      ...
462  2320.72  6672.03
463  2326.55  6967.92
464  2321.30  1743.72
465  2321.88  2032.94
466  2322.76  2314.90

[467 rows x 2 columns]

In [63]:
spatial = pix_xy.values

In [64]:
spatial

array([[2588.84, 2589.91],
       [2593.5 , 2885.8 ],
       [2587.97, 3175.31],
       [2594.38, 3456.98],
       [2591.46, 3749.39],
       [2592.05, 4044.12],
       [2589.13, 4337.4 ],
       [2592.05, 4624.3 ],
       [2592.63, 4915.55],
       [2596.71, 5223.91],
       [2586.8 , 5502.68],
       [2589.13, 5787.26],
       [2594.09, 6086.63],
       [2590.3 , 6374.69],
       [2597.58, 6671.74],
       [2590.3 , 6963.57],
       [2586.51, 1735.31],
       [2590.59, 2019.59],
       [2587.09, 2319.55],
       [2888.73, 2591.94],
       [2879.11, 3180.24],
       [2892.81, 3459.88],
       [2888.44, 3753.74],
       [2884.65, 4047.6 ],
       [2885.52, 4337.69],
       [2888.15, 4623.72],
       [2886.69, 4917.58],
       [2885.23, 5212.89],
       [2884.36, 5505.58],
       [2891.64, 5789.  ],
       [2894.27, 6080.54],
       [2882.61, 6381.36],
       [2891.64, 6671.45],
       [2877.07, 6970.24],
       [2877.65, 1738.21],
       [2882.03, 2019.3 ],
       [2879.99, 2309.1 ],
       [3214.26, 2608.76],
       [3214.56, 2895.66],
       [3214.85, 3184.59],
       [3217.47, 3474.68],
       [3216.89, 3771.44],
       [3218.34, 4056.88],
       [3216.3 , 4349.  ],
       [3212.81, 4644.31],
       [3214.85, 4930.05],
       [3210.18, 5223.62],
       [3217.18, 5520.67],
       [3212.22, 5806.12],
       [3206.4 , 6098.52],
       [3208.44, 6386.87],
       [3219.22, 6683.63],
       [3216.01, 6969.08],
       [3223.59, 1753.  ],
       [3214.26, 2043.38],
       [3218.34, 2324.19],
       [3496.38, 2607.02],
       [3490.26, 2897.98],
       [3497.83, 3178.79],
       [3492.88, 3476.13],
       [3492.3 , 3764.48],
       [3489.67, 4055.14],
       [3493.46, 4347.84],
       [3498.12, 4632.71],
       [3492.3 , 4934.4 ],
       [3493.17, 5220.14],
       [3494.34, 5520.67],
       [3496.08, 5810.18],
       [3492.59, 6093.3 ],
       [3498.42, 6386.29],
       [3495.79, 6681.31],
       [3493.17, 6967.34],
       [3496.38, 1461.17],
       [3496.38, 1756.77],
       [3496.38, 2040.77],
       [3492.88, 2321.29],
       [3778.49, 2610.21],
       [3777.9 , 2895.37],
       [3775.57, 3181.11],
       [3777.32, 3474.39],
       [3777.61, 3763.6 ],
       [3781.69, 4054.85],
       [3778.2 , 4345.52],
       [3772.08, 4648.95],
       [3784.32, 4933.82],
       [3776.74, 5214.63],
       [3775.57, 5518.93],
       [3781.11, 5803.51],
       [3777.32, 6094.46],
       [3769.74, 6390.06],
       [3776.74, 6674.35],
       [3778.2 , 6969.37],
       [3772.37, 1462.04],
       [3773.53, 1748.36],
       [3779.07, 2032.65],
       [3771.49, 2321.58],
       [4070.22, 2601.51],
       [4079.83, 2891.6 ],
       [4070.51, 3176.47],
       [4073.71, 3468.88],
       [4071.96, 3757.51],
       [4071.67, 4052.24],
       [4068.76, 4341.75],
       [4079.83, 4628.65],
       [4077.5 , 4921.64],
       [4068.76, 5212.31],
       [4071.09, 5509.94],
       [4068.47, 5799.73],
       [4075.46, 6091.27],
       [4070.22, 6379.04],
       [4063.51, 6675.51],
       [4071.38, 6968.21],
       [4069.63, 1459.43],
       [4066.72, 1744.88],
       [4072.26, 2318.39],
       [4338.92, 2592.52],
       [4344.46, 2884.64],
       [4345.04, 3170.95],
       [4344.46, 3478.16],
       [4342.71, 3756.93],
       [4340.38, 4042.67],
       [4347.66, 4340.88],
       [4350.29, 4628.94],
       [4342.71, 4914.09],
       [4343.58, 5210.27],
       [4340.38, 5505.29],
       [4355.24, 5784.94],
       [4342.42, 6078.8 ],
       [4341.25, 6373.53],
       [4347.08, 6669.42],
       [4347.08, 6967.05],
       [4343.  , 1449.28],
       [4346.21, 1739.08],
       [4342.42, 2028.01],
       [4343.58, 2312.87],
       [4632.11, 2601.8 ],
       [4628.9 , 2887.25],
       [4627.74, 3176.76],
       [4623.66, 3471.2 ],
       [4628.61, 3759.25],
       [4625.99, 4047.89],
       [4631.82, 4338.27],
       [4628.03, 4636.19],
       [4628.03, 4924.83],
       [4631.82, 5222.17],
       [4627.15, 5512.26],
       [4629.48, 5795.09],
       [4625.7 , 6086.92],
       [4627.15, 6385.13],
       [4625.11, 6672.61],
       [4632.98, 6965.02],
       [4625.11, 1455.66],
       [4627.44, 1749.52],
       [4626.86, 2032.36],
       [4629.19, 2320.71],
       [4930.25, 2602.67],
       [4931.41, 2892.18],
       [4933.75, 3181.4 ],
       [4930.25, 3484.54],
       [4929.08, 3765.93],
       [4927.04, 4051.08],
       [4939.28, 4335.08],
       [4924.71, 4615.01],
       [4924.71, 5214.92],
       [4924.71, 5517.77],
       [4925.88, 5799.73],
       [4930.25, 6087.5 ],
       [4930.54, 6381.65],
       [4925.59, 6679.57],
       [4929.08, 6963.86],
       [4929.96, 7262.65],
       [4928.79, 1165.28],
       [4926.17, 1462.04],
       [4926.75, 1752.71],
       [4925.88, 2030.91],
       [4935.2 , 2316.93],
       [5221.39, 2600.64],
       [5224.31, 2887.25],
       [5221.69, 3180.24],
       [5226.64, 3475.26],
       [5222.85, 3755.77],
       [5224.89, 4058.33],
       [5220.23, 4346.68],
       [5225.18, 4630.39],
       [5225.47, 4921.93],
       [5228.1 , 5216.37],
       [5227.51, 5514.  ],
       [5222.27, 5803.22],
       [5228.39, 6075.9 ],
       [5231.89, 6382.23],
       [5235.09, 6669.42],
       [5227.51, 6962.99],
       [5228.39, 7257.43],
       [5223.73, 1166.73],
       [5219.35, 1462.62],
       [5219.94, 1739.66],
       [5221.39, 2029.17],
       [5221.1 , 2316.64],
       [5527.11, 2597.45],
       [5524.78, 2886.67],
       [5533.23, 3170.66],
       [5530.61, 3468.  ],
       [5527.4 , 3752.29],
       [5523.03, 4047.02],
       [5542.85, 4351.9 ],
       [5532.07, 4625.46],
       [5529.74, 4916.71],
       [5523.91, 5207.37],
       [5524.2 , 5509.07],
       [5523.03, 5799.73],
       [5525.36, 6081.7 ],
       [5524.2 , 6375.27],
       [5525.66, 6665.07],
       [5528.28, 6957.48],
       [5516.33, 7263.23],
       [5519.24, 1170.51],
       [5525.07, 1449.86],
       [5529.44, 1737.05],
       [5532.36, 2031.2 ],
       [5523.03, 2313.45],
       [5792.61, 2590.2 ],
       [5794.36, 2884.06],
       [5790.86, 3165.44],
       [5789.99, 3462.78],
       [5785.33, 3739.24],
       [5797.86, 4041.51],
       [5797.86, 4331.31],
       [5794.07, 4619.95],
       [5800.48, 4913.8 ],
       [5797.27, 5207.08],
       [5799.31, 5498.33],
       [5801.35, 5791.9 ],
       [5800.19, 6080.83],
       [5798.73, 6365.7 ],
       [5798.73, 6662.75],
       [5801.06, 6949.06],
       [5801.65, 7247.27],
       [5794.07, 2027.43],
       [5787.95, 2300.98],
       [6091.04, 2609.34],
       [6089.88, 2880.  ],
       [6091.34, 3168.05],
       [6087.26, 3453.79],
       [6099.79, 3740.69],
       [6097.75, 4046.44],
       [6092.21, 4331.31],
       [6099.79, 4628.07],
       [6096.87, 4909.45],
       [6092.5 , 5204.18],
       [6086.67, 5501.23],
       [6087.26, 5786.1 ],
       [6097.16, 6081.41],
       [6086.96, 6368.02],
       [6093.38, 6664.49],
       [6091.04, 6951.09],
       [6081.13, 7253.08],
       [6089.3 , 2026.27],
       [6092.5 , 2309.97],
       [6421.53, 2598.9 ],
       [6424.45, 2890.44],
       [6399.38, 3203.15],
       [6407.84, 3479.03],
       [6404.05, 3739.53],
       [6426.78, 4033.68],
       [6416.58, 4342.33],
       [6415.41, 4633.87],
       [6421.83, 4935.27],
       [6416.29, 5220.14],
       [6422.99, 5508.49],
       [6414.54, 5804.38],
       [6419.79, 6096.49],
       [6416.  , 6378.46],
       [6416.58, 6676.67],
       [6424.45, 6968.79],
       [6420.66, 7263.52],
       [6411.33, 2318.1 ],
       [6697.23, 2602.67],
       [6698.69, 2892.18],
       [6705.69, 3178.79],
       [6698.69, 3466.84],
       [6695.49, 3760.99],
       [6694.61, 4052.53],
       [6698.98, 4344.94],
       [6702.77, 4628.36],
       [6711.81, 4917.  ],
       [6697.53, 5222.75],
       [6703.35, 5511.68],
       [6702.48, 5800.02],
       [6696.65, 6380.2 ],
       [6702.48, 6675.8 ],
       [6704.52, 6954.  ],
       [6696.65, 2319.84],
       [6982.26, 2598.9 ],
       [6981.68, 2892.47],
       [6978.18, 3176.47],
       [6983.13, 3468.88],
       [6990.71, 3763.31],
       [6987.51, 4040.35],
       [6983.72, 4345.23],
       [6977.6 , 4630.39],
       [6985.17, 4925.7 ],
       [6984.01, 5219.27],
       [6980.22, 5508.49],
       [6980.8 , 5803.8 ],
       [6982.55, 6093.3 ],
       [6987.51, 6387.16],
       [7271.95, 2596.87],
       [7276.61, 2891.02],
       [7271.66, 3174.44],
       [7272.24, 3458.14],
       [7273.7 , 3758.67],
       [7276.32, 4045.86],
       [7282.15, 4343.49],
       [7274.57, 4627.2 ],
       [7277.49, 4916.13],
       [7275.15, 5214.05],
       [7275.45, 5504.71],
       [7275.74, 5796.25],
       [7269.62, 6082.57],
       [7550.27, 2880.  ],
       [7545.03, 3166.02],
       [7547.94, 3455.24],
       [7547.36, 3750.55],
       [7547.94, 4038.9 ],
       [7550.85, 4332.76],
       [7550.56, 4622.85],
       [7548.52, 4917.58],
       [7544.44, 5200.99],
       [7545.32, 5491.08],
       [7548.23, 5789.29],
       [7545.32, 6081.41],
       [7832.97, 2886.38],
       [7838.21, 3174.15],
       [7835.3 , 3466.55],
       [7837.34, 3759.83],
       [7831.51, 4042.96],
       [7829.18, 4336.24],
       [7836.46, 4632.42],
       [7840.54, 4919.9 ],
       [7829.76, 5209.11],
       [7834.71, 5501.81],
       [7839.38, 5794.8 ],
       [8135.19, 3752.  ],
       [8133.44, 4044.99],
       [8134.89, 4337.11],
       [8139.56, 4625.75],
       [8135.77, 4920.48],
       [8127.61, 5207.66],
       [8136.94, 5508.78],
       [8136.64, 5802.93],
       [8138.68, 6091.85],
       [ 290.56, 3476.42],
       [ 288.23, 3765.35],
       [ 292.02, 4069.65],
       [ 294.35, 4355.38],
       [ 297.85, 4641.99],
       [ 289.11, 6102.88],
       [8429.83, 5793.64],
       [ 567.14, 2609.92],
       [ 573.84, 2896.82],
       [ 587.83, 3177.92],
       [ 570.63, 3474.1 ],
       [ 569.47, 3764.48],
       [ 570.63, 4066.46],
       [ 575.01, 4355.38],
       [ 571.51, 4645.76],
       [ 574.42, 4931.21],
       [ 555.77, 5238.7 ],
       [ 571.8 , 6097.36],
       [ 566.55, 2321.58],
       [ 869.36, 2596.58],
       [ 863.24, 2891.31],
       [ 863.82, 3177.34],
       [ 860.32, 3469.46],
       [ 863.24, 3760.7 ],
       [ 862.07, 4054.85],
       [ 865.57, 4342.33],
       [ 866.74, 4637.35],
       [ 868.48, 4915.84],
       [ 864.11, 5220.43],
       [ 849.83, 5527.05],
       [ 862.65, 5798.28],
       [ 862.07, 6089.53],
       [ 862.07, 2313.74],
       [1136.02, 2598.61],
       [1135.44, 2889.86],
       [1138.35, 3175.89],
       [1136.61, 3467.42],
       [1137.19, 3758.67],
       [1134.27, 4050.79],
       [1138.06, 4340.01],
       [1136.9 , 4632.42],
       [1138.06, 4924.25],
       [1130.78, 5216.66],
       [1135.73, 5503.26],
       [1136.31, 5797.41],
       [1137.77, 6087.79],
       [1140.39, 6383.39],
       [1134.86, 2030.62],
       [1137.19, 2308.81],
       [1424.55, 2603.83],
       [1426.3 , 2890.73],
       [1420.76, 3183.43],
       [1424.84, 3476.42],
       [1426.59, 3765.06],
       [1423.67, 4059.49],
       [1423.38, 4347.55],
       [1426.59, 4633.58],
       [1427.46, 4929.47],
       [1423.38, 5221.3 ],
       [1419.59, 5511.39],
       [1422.21, 5806.99],
       [1428.92, 6095.33],
       [1423.67, 6393.25],
       [1426.  , 6685.37],
       [1423.96, 2030.33],
       [1420.47, 2320.13],
       [1721.81, 2603.25],
       [1723.85, 2891.6 ],
       [1718.9 , 3178.79],
       [1720.36, 3474.39],
       [1724.14, 3762.73],
       [1722.98, 4064.14],
       [1723.56, 4353.93],
       [1724.14, 4634.74],
       [1720.94, 4928.89],
       [1721.23, 5221.3 ],
       [1712.2 , 5515.74],
       [1726.48, 5804.67],
       [1720.94, 6091.85],
       [1722.1 , 6390.35],
       [1724.73, 6675.22],
       [1721.52, 2034.1 ],
       [2013.83, 2888.7 ],
       [2017.04, 3175.31],
       [2013.25, 3470.62],
       [2012.67, 3758.09],
       [2017.91, 4056.88],
       [2013.25, 4342.91],
       [2013.25, 4632.71],
       [2019.95, 4926.57],
       [2015.29, 5216.95],
       [2013.54, 5515.74],
       [2016.75, 5804.96],
       [2014.42, 6090.11],
       [2014.71, 6384.55],
       [2009.46, 6676.96],
       [2014.12, 2320.42],
       [2325.09, 2598.03],
       [2318.68, 2888.99],
       [2318.39, 3174.44],
       [2316.64, 3463.65],
       [2321.88, 3755.48],
       [2318.39, 4050.5 ],
       [2320.43, 4338.27],
       [2323.63, 4633.58],
       [2323.05, 4928.31],
       [2318.68, 5215.5 ],
       [2320.43, 5509.07],
       [2318.68, 5796.25],
       [2321.59, 6090.11],
       [2322.47, 6375.27],
       [2320.72, 6672.03],
       [2326.55, 6967.92],
       [2321.3 , 1743.72],
       [2321.88, 2032.94],
       [2322.76, 2314.9 ]])

In [65]:
X = obs
del X['Unnamed: 0']

In [66]:
adata = an.AnnData(X)

/Users/juliafoyer/opt/anaconda3/envs/isbad2/lib/python3.7/site-packages/anndata/_core/anndata.py:119: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [67]:
adata.obsm['spatial'] = spatial

In [68]:
adata.obsm['spatial']

array([[2588.84, 2589.91],
       [2593.5 , 2885.8 ],
       [2587.97, 3175.31],
       [2594.38, 3456.98],
       [2591.46, 3749.39],
       [2592.05, 4044.12],
       [2589.13, 4337.4 ],
       [2592.05, 4624.3 ],
       [2592.63, 4915.55],
       [2596.71, 5223.91],
       [2586.8 , 5502.68],
       [2589.13, 5787.26],
       [2594.09, 6086.63],
       [2590.3 , 6374.69],
       [2597.58, 6671.74],
       [2590.3 , 6963.57],
       [2586.51, 1735.31],
       [2590.59, 2019.59],
       [2587.09, 2319.55],
       [2888.73, 2591.94],
       [2879.11, 3180.24],
       [2892.81, 3459.88],
       [2888.44, 3753.74],
       [2884.65, 4047.6 ],
       [2885.52, 4337.69],
       [2888.15, 4623.72],
       [2886.69, 4917.58],
       [2885.23, 5212.89],
       [2884.36, 5505.58],
       [2891.64, 5789.  ],
       [2894.27, 6080.54],
       [2882.61, 6381.36],
       [2891.64, 6671.45],
       [2877.07, 6970.24],
       [2877.65, 1738.21],
       [2882.03, 2019.3 ],
       [2879.99, 2309.1 ],
       [3214.26, 2608.76],
       [3214.56, 2895.66],
       [3214.85, 3184.59],
       [3217.47, 3474.68],
       [3216.89, 3771.44],
       [3218.34, 4056.88],
       [3216.3 , 4349.  ],
       [3212.81, 4644.31],
       [3214.85, 4930.05],
       [3210.18, 5223.62],
       [3217.18, 5520.67],
       [3212.22, 5806.12],
       [3206.4 , 6098.52],
       [3208.44, 6386.87],
       [3219.22, 6683.63],
       [3216.01, 6969.08],
       [3223.59, 1753.  ],
       [3214.26, 2043.38],
       [3218.34, 2324.19],
       [3496.38, 2607.02],
       [3490.26, 2897.98],
       [3497.83, 3178.79],
       [3492.88, 3476.13],
       [3492.3 , 3764.48],
       [3489.67, 4055.14],
       [3493.46, 4347.84],
       [3498.12, 4632.71],
       [3492.3 , 4934.4 ],
       [3493.17, 5220.14],
       [3494.34, 5520.67],
       [3496.08, 5810.18],
       [3492.59, 6093.3 ],
       [3498.42, 6386.29],
       [3495.79, 6681.31],
       [3493.17, 6967.34],
       [3496.38, 1461.17],
       [3496.38, 1756.77],
       [3496.38, 2040.77],
       [3492.88, 2321.29],
       [3778.49, 2610.21],
       [3777.9 , 2895.37],
       [3775.57, 3181.11],
       [3777.32, 3474.39],
       [3777.61, 3763.6 ],
       [3781.69, 4054.85],
       [3778.2 , 4345.52],
       [3772.08, 4648.95],
       [3784.32, 4933.82],
       [3776.74, 5214.63],
       [3775.57, 5518.93],
       [3781.11, 5803.51],
       [3777.32, 6094.46],
       [3769.74, 6390.06],
       [3776.74, 6674.35],
       [3778.2 , 6969.37],
       [3772.37, 1462.04],
       [3773.53, 1748.36],
       [3779.07, 2032.65],
       [3771.49, 2321.58],
       [4070.22, 2601.51],
       [4079.83, 2891.6 ],
       [4070.51, 3176.47],
       [4073.71, 3468.88],
       [4071.96, 3757.51],
       [4071.67, 4052.24],
       [4068.76, 4341.75],
       [4079.83, 4628.65],
       [4077.5 , 4921.64],
       [4068.76, 5212.31],
       [4071.09, 5509.94],
       [4068.47, 5799.73],
       [4075.46, 6091.27],
       [4070.22, 6379.04],
       [4063.51, 6675.51],
       [4071.38, 6968.21],
       [4069.63, 1459.43],
       [4066.72, 1744.88],
       [4072.26, 2318.39],
       [4338.92, 2592.52],
       [4344.46, 2884.64],
       [4345.04, 3170.95],
       [4344.46, 3478.16],
       [4342.71, 3756.93],
       [4340.38, 4042.67],
       [4347.66, 4340.88],
       [4350.29, 4628.94],
       [4342.71, 4914.09],
       [4343.58, 5210.27],
       [4340.38, 5505.29],
       [4355.24, 5784.94],
       [4342.42, 6078.8 ],
       [4341.25, 6373.53],
       [4347.08, 6669.42],
       [4347.08, 6967.05],
       [4343.  , 1449.28],
       [4346.21, 1739.08],
       [4342.42, 2028.01],
       [4343.58, 2312.87],
       [4632.11, 2601.8 ],
       [4628.9 , 2887.25],
       [4627.74, 3176.76],
       [4623.66, 3471.2 ],
       [4628.61, 3759.25],
       [4625.99, 4047.89],
       [4631.82, 4338.27],
       [4628.03, 4636.19],
       [4628.03, 4924.83],
       [4631.82, 5222.17],
       [4627.15, 5512.26],
       [4629.48, 5795.09],
       [4625.7 , 6086.92],
       [4627.15, 6385.13],
       [4625.11, 6672.61],
       [4632.98, 6965.02],
       [4625.11, 1455.66],
       [4627.44, 1749.52],
       [4626.86, 2032.36],
       [4629.19, 2320.71],
       [4930.25, 2602.67],
       [4931.41, 2892.18],
       [4933.75, 3181.4 ],
       [4930.25, 3484.54],
       [4929.08, 3765.93],
       [4927.04, 4051.08],
       [4939.28, 4335.08],
       [4924.71, 4615.01],
       [4924.71, 5214.92],
       [4924.71, 5517.77],
       [4925.88, 5799.73],
       [4930.25, 6087.5 ],
       [4930.54, 6381.65],
       [4925.59, 6679.57],
       [4929.08, 6963.86],
       [4929.96, 7262.65],
       [4928.79, 1165.28],
       [4926.17, 1462.04],
       [4926.75, 1752.71],
       [4925.88, 2030.91],
       [4935.2 , 2316.93],
       [5221.39, 2600.64],
       [5224.31, 2887.25],
       [5221.69, 3180.24],
       [5226.64, 3475.26],
       [5222.85, 3755.77],
       [5224.89, 4058.33],
       [5220.23, 4346.68],
       [5225.18, 4630.39],
       [5225.47, 4921.93],
       [5228.1 , 5216.37],
       [5227.51, 5514.  ],
       [5222.27, 5803.22],
       [5228.39, 6075.9 ],
       [5231.89, 6382.23],
       [5235.09, 6669.42],
       [5227.51, 6962.99],
       [5228.39, 7257.43],
       [5223.73, 1166.73],
       [5219.35, 1462.62],
       [5219.94, 1739.66],
       [5221.39, 2029.17],
       [5221.1 , 2316.64],
       [5527.11, 2597.45],
       [5524.78, 2886.67],
       [5533.23, 3170.66],
       [5530.61, 3468.  ],
       [5527.4 , 3752.29],
       [5523.03, 4047.02],
       [5542.85, 4351.9 ],
       [5532.07, 4625.46],
       [5529.74, 4916.71],
       [5523.91, 5207.37],
       [5524.2 , 5509.07],
       [5523.03, 5799.73],
       [5525.36, 6081.7 ],
       [5524.2 , 6375.27],
       [5525.66, 6665.07],
       [5528.28, 6957.48],
       [5516.33, 7263.23],
       [5519.24, 1170.51],
       [5525.07, 1449.86],
       [5529.44, 1737.05],
       [5532.36, 2031.2 ],
       [5523.03, 2313.45],
       [5792.61, 2590.2 ],
       [5794.36, 2884.06],
       [5790.86, 3165.44],
       [5789.99, 3462.78],
       [5785.33, 3739.24],
       [5797.86, 4041.51],
       [5797.86, 4331.31],
       [5794.07, 4619.95],
       [5800.48, 4913.8 ],
       [5797.27, 5207.08],
       [5799.31, 5498.33],
       [5801.35, 5791.9 ],
       [5800.19, 6080.83],
       [5798.73, 6365.7 ],
       [5798.73, 6662.75],
       [5801.06, 6949.06],
       [5801.65, 7247.27],
       [5794.07, 2027.43],
       [5787.95, 2300.98],
       [6091.04, 2609.34],
       [6089.88, 2880.  ],
       [6091.34, 3168.05],
       [6087.26, 3453.79],
       [6099.79, 3740.69],
       [6097.75, 4046.44],
       [6092.21, 4331.31],
       [6099.79, 4628.07],
       [6096.87, 4909.45],
       [6092.5 , 5204.18],
       [6086.67, 5501.23],
       [6087.26, 5786.1 ],
       [6097.16, 6081.41],
       [6086.96, 6368.02],
       [6093.38, 6664.49],
       [6091.04, 6951.09],
       [6081.13, 7253.08],
       [6089.3 , 2026.27],
       [6092.5 , 2309.97],
       [6421.53, 2598.9 ],
       [6424.45, 2890.44],
       [6399.38, 3203.15],
       [6407.84, 3479.03],
       [6404.05, 3739.53],
       [6426.78, 4033.68],
       [6416.58, 4342.33],
       [6415.41, 4633.87],
       [6421.83, 4935.27],
       [6416.29, 5220.14],
       [6422.99, 5508.49],
       [6414.54, 5804.38],
       [6419.79, 6096.49],
       [6416.  , 6378.46],
       [6416.58, 6676.67],
       [6424.45, 6968.79],
       [6420.66, 7263.52],
       [6411.33, 2318.1 ],
       [6697.23, 2602.67],
       [6698.69, 2892.18],
       [6705.69, 3178.79],
       [6698.69, 3466.84],
       [6695.49, 3760.99],
       [6694.61, 4052.53],
       [6698.98, 4344.94],
       [6702.77, 4628.36],
       [6711.81, 4917.  ],
       [6697.53, 5222.75],
       [6703.35, 5511.68],
       [6702.48, 5800.02],
       [6696.65, 6380.2 ],
       [6702.48, 6675.8 ],
       [6704.52, 6954.  ],
       [6696.65, 2319.84],
       [6982.26, 2598.9 ],
       [6981.68, 2892.47],
       [6978.18, 3176.47],
       [6983.13, 3468.88],
       [6990.71, 3763.31],
       [6987.51, 4040.35],
       [6983.72, 4345.23],
       [6977.6 , 4630.39],
       [6985.17, 4925.7 ],
       [6984.01, 5219.27],
       [6980.22, 5508.49],
       [6980.8 , 5803.8 ],
       [6982.55, 6093.3 ],
       [6987.51, 6387.16],
       [7271.95, 2596.87],
       [7276.61, 2891.02],
       [7271.66, 3174.44],
       [7272.24, 3458.14],
       [7273.7 , 3758.67],
       [7276.32, 4045.86],
       [7282.15, 4343.49],
       [7274.57, 4627.2 ],
       [7277.49, 4916.13],
       [7275.15, 5214.05],
       [7275.45, 5504.71],
       [7275.74, 5796.25],
       [7269.62, 6082.57],
       [7550.27, 2880.  ],
       [7545.03, 3166.02],
       [7547.94, 3455.24],
       [7547.36, 3750.55],
       [7547.94, 4038.9 ],
       [7550.85, 4332.76],
       [7550.56, 4622.85],
       [7548.52, 4917.58],
       [7544.44, 5200.99],
       [7545.32, 5491.08],
       [7548.23, 5789.29],
       [7545.32, 6081.41],
       [7832.97, 2886.38],
       [7838.21, 3174.15],
       [7835.3 , 3466.55],
       [7837.34, 3759.83],
       [7831.51, 4042.96],
       [7829.18, 4336.24],
       [7836.46, 4632.42],
       [7840.54, 4919.9 ],
       [7829.76, 5209.11],
       [7834.71, 5501.81],
       [7839.38, 5794.8 ],
       [8135.19, 3752.  ],
       [8133.44, 4044.99],
       [8134.89, 4337.11],
       [8139.56, 4625.75],
       [8135.77, 4920.48],
       [8127.61, 5207.66],
       [8136.94, 5508.78],
       [8136.64, 5802.93],
       [8138.68, 6091.85],
       [ 290.56, 3476.42],
       [ 288.23, 3765.35],
       [ 292.02, 4069.65],
       [ 294.35, 4355.38],
       [ 297.85, 4641.99],
       [ 289.11, 6102.88],
       [8429.83, 5793.64],
       [ 567.14, 2609.92],
       [ 573.84, 2896.82],
       [ 587.83, 3177.92],
       [ 570.63, 3474.1 ],
       [ 569.47, 3764.48],
       [ 570.63, 4066.46],
       [ 575.01, 4355.38],
       [ 571.51, 4645.76],
       [ 574.42, 4931.21],
       [ 555.77, 5238.7 ],
       [ 571.8 , 6097.36],
       [ 566.55, 2321.58],
       [ 869.36, 2596.58],
       [ 863.24, 2891.31],
       [ 863.82, 3177.34],
       [ 860.32, 3469.46],
       [ 863.24, 3760.7 ],
       [ 862.07, 4054.85],
       [ 865.57, 4342.33],
       [ 866.74, 4637.35],
       [ 868.48, 4915.84],
       [ 864.11, 5220.43],
       [ 849.83, 5527.05],
       [ 862.65, 5798.28],
       [ 862.07, 6089.53],
       [ 862.07, 2313.74],
       [1136.02, 2598.61],
       [1135.44, 2889.86],
       [1138.35, 3175.89],
       [1136.61, 3467.42],
       [1137.19, 3758.67],
       [1134.27, 4050.79],
       [1138.06, 4340.01],
       [1136.9 , 4632.42],
       [1138.06, 4924.25],
       [1130.78, 5216.66],
       [1135.73, 5503.26],
       [1136.31, 5797.41],
       [1137.77, 6087.79],
       [1140.39, 6383.39],
       [1134.86, 2030.62],
       [1137.19, 2308.81],
       [1424.55, 2603.83],
       [1426.3 , 2890.73],
       [1420.76, 3183.43],
       [1424.84, 3476.42],
       [1426.59, 3765.06],
       [1423.67, 4059.49],
       [1423.38, 4347.55],
       [1426.59, 4633.58],
       [1427.46, 4929.47],
       [1423.38, 5221.3 ],
       [1419.59, 5511.39],
       [1422.21, 5806.99],
       [1428.92, 6095.33],
       [1423.67, 6393.25],
       [1426.  , 6685.37],
       [1423.96, 2030.33],
       [1420.47, 2320.13],
       [1721.81, 2603.25],
       [1723.85, 2891.6 ],
       [1718.9 , 3178.79],
       [1720.36, 3474.39],
       [1724.14, 3762.73],
       [1722.98, 4064.14],
       [1723.56, 4353.93],
       [1724.14, 4634.74],
       [1720.94, 4928.89],
       [1721.23, 5221.3 ],
       [1712.2 , 5515.74],
       [1726.48, 5804.67],
       [1720.94, 6091.85],
       [1722.1 , 6390.35],
       [1724.73, 6675.22],
       [1721.52, 2034.1 ],
       [2013.83, 2888.7 ],
       [2017.04, 3175.31],
       [2013.25, 3470.62],
       [2012.67, 3758.09],
       [2017.91, 4056.88],
       [2013.25, 4342.91],
       [2013.25, 4632.71],
       [2019.95, 4926.57],
       [2015.29, 5216.95],
       [2013.54, 5515.74],
       [2016.75, 5804.96],
       [2014.42, 6090.11],
       [2014.71, 6384.55],
       [2009.46, 6676.96],
       [2014.12, 2320.42],
       [2325.09, 2598.03],
       [2318.68, 2888.99],
       [2318.39, 3174.44],
       [2316.64, 3463.65],
       [2321.88, 3755.48],
       [2318.39, 4050.5 ],
       [2320.43, 4338.27],
       [2323.63, 4633.58],
       [2323.05, 4928.31],
       [2318.68, 5215.5 ],
       [2320.43, 5509.07],
       [2318.68, 5796.25],
       [2321.59, 6090.11],
       [2322.47, 6375.27],
       [2320.72, 6672.03],
       [2326.55, 6967.92],
       [2321.3 , 1743.72],
       [2321.88, 2032.94],
       [2322.76, 2314.9 ]])